body{
    margin:0 ;
    padding: 0%;

}
#nav{
    padding-top: 200px;
    
    justify-content: center;

}
#hi{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
#hello{
    padding-left: 200px;
    background-color: rgb(220, 228, 228);
    justify-content: center;
}